In [2]:
import numpy as np
import pandas as pd

In [10]:
files = [ { 'input':'f2016_cs8_a3.data.1.orig.txt', 'output':'f2016_cs8_a3.data.1.csv'},
          { 'input':'f2016_cs8_a3.data.2.orig.txt', 'output':'f2016_cs8_a3.data.2.csv'},
          { 'input':'f2016_cs8_a3.data.3.orig.txt', 'output':'f2016_cs8_a3.data.3.csv'}]

In [14]:
output = []
for io in files:
    print('Input file'+io['input'])
    # read file in data frame
    td = pd.read_csv(io['input'],header=None)
    # add distance column
    td['distance'] = np.random.uniform(0,100,len(td))
    # set columns names
    td.columns=['name','distance']
    # save to output file
    print('Output file '+io['output'])
    td.to_csv(io['output'],header=True,index=False)

Input filef2016_cs8_a3.data.1.orig.txt
Output file f2016_cs8_a3.data.1.csv
Input filef2016_cs8_a3.data.2.orig.txt
Output file f2016_cs8_a3.data.2.csv
Input filef2016_cs8_a3.data.3.orig.txt
Output file f2016_cs8_a3.data.3.csv

In [12]:
td

            name   distance
0     Chassidy    98.422950
1        Elroy    22.920893
2       Shelli    77.909766
3        Della    13.385355
4        Noble    29.684266
5    Ernestine    29.351523
6      Charise    82.688743
7     Hyacinth     4.553633
8        Tamie    49.107801
9       Delpha    46.790967
10       Candi    39.412042
11        Kyra    84.186705
12       Mauro    84.201712
13     Daniele    89.658881
14      Tamara    67.240646
15       Sunny    45.367393
16      Roxane    99.241021
17    Youlanda    28.377807
18      Wilton    36.242232
19      Weston    43.379856
20      Floria    66.882186
21      Chanda    88.450553
22    Garfield    37.377010
23      Caroll    85.318477
24         Eve    26.578025
25   Valentina    44.228301
26        Joie    37.039570
27      Andera     9.491160
28    Vincenza     0.100794
29      Justin    48.450857
..           ...        ...
120     Alonso     8.285626
121   Lawrence    77.890875
122        Bok    26.766102
123     Vickie     3.742084
124    Aurelio    66.542191
125      Elvis    23.174664
126     Tianna    13.295189
127     Jolene    88.477713
128     Margit    28.915190
129   Norberto    87.913285
130      Cecil    74.080359
131      Delmy    17.718773
132      Mitch    14.260463
133      Floyd    64.563495
134   Marybeth    19.673445
135   Kathleen    38.681308
136  Roosevelt     1.957828
137      Audra     0.986911
138   Hipolito    23.586250
139      Diego    28.464755
140    Lorinda     5.311611
141   Anjelica     5.656072
142    Lyndsey    50.722527
143     Jerold    76.765668
144    Stanley    86.149541
145    Samatha     8.961378
146   Merrilee    66.271409
147       Enda    36.995091
148     Marsha    77.576914
149  Marceline    70.463993

[150 rows x 2 columns]

In [1]:
ls

Ideas.Assignement.3.ipynb     f2016_cs8_a3.data.2.orig.txt
f2016_cs8_a3.data.1.orig.txt  f2016_cs8_a3.data.ipynb